
h1, h2, h3, h4 {
    color: purple;
    text-align: center;
}

.home {
  position: relative;
  max-width: 65%;
  padding-left: 10%;
  padding-right: 10%;
}

.links{
  text-align: center;
}

a {
  color: gold;
}