html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
}
h1, h2, h3, h4 {
    color: rgb(128, 0, 128);
    text-align: center;

}

body{
    position: relative;
    justify-items: center;
    margin: auto;
    max-width: 70%;
    padding: 4px;
    overflow: hidden;
}

a {
    color: gold;
}

.sidepanel {
    position: fixed;
    height: auto;
    width: 9%;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    border-style: double;
    border-color: #f8f533;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 25px;
    color: #faed78;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 26px;
    margin-left: 60px;
  }
  
  .openbtn {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f8f533;
    color: black;
    left: 5px;
    /* padding-top: 10px;
    padding-left: 15px; */
    /* padding: 10px 15px; */
    border: none;
  }

  .headshot {
    position: fixed;
    right: 5px;
    padding-left: 5px;
    margin-left: 5px;
  }

  .boldtext{
    font-weight: bolder;
  }

  
  
