html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
}


.sidepanel {
    position: absolute;
    height: auto;
    width: 10%;
    overflow: scroll;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    border-style: double;
    border-color: #f8f533;
  }
  
  .sidepanel a {
    padding: 2px 8px 0px;
    text-decoration: none;
    font-size: 24px;
    color: #faed78;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: purple;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 26px;
    margin-left: 60px;
  }
  
  .openbtn {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f8f533;
    color: black;
    left: 5px;
    /* padding-top: 10px;
    padding-left: 15px; */
    /* padding: 10px 15px; */
    border: none;
  }



  .boldtext{
    font-weight: bolder;
  }

  
  
