
.projects{
    list-style: none;
    max-width: 100%;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pics img {
    max-height: 200px;
}

.project span {
    border-style: solid;
    border-color: yellow;
}

.skills {
    list-style: circle;
    width: 20%;
}