div p.projintro {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    /* border: solid; */
}

div.projcontainer {
    width: 80%;
    padding-left: 10%;
}

.projects {
    list-style: none;
}

.project {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    max-width: 60%;
    font-size: 20px;
}

.pics {
    max-width: 20%;
}

.pics img {
    max-height: 150px;
}

.skills {
    width: 10%;
}

.skills li{
    list-style: circle;
}