@keyframes fadein {

    0% { 
        opacity: 0%;
        scale: 0.5;
        transform: translateX(-80px)
     }
    50% { 
        opacity: 100%;
        scale: 1;
    }
    100% {
        opacity: 100%;
        transform: translateX(50px)
    }
    
}

span.pics a img {    
    animation-name: fadein;

    animation-iteration-count: infinite;
    animation-duration: 6s;
}